.invisible {
    transition: opacity 0.5s ease;
    opacity: 0.0;
}

.visible {
    transition: opacity 0.5s ease;
    opacity: 1.0;
}

.fromTopIn {
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease, -moz-transform 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease, -o-transform 1s ease;
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1
}

.fromBottomIn, .fromTopOut {
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease, -moz-transform 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease, -o-transform 1s ease
}

.fromTopOut {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    transform: translate(0, -10px);
    opacity: 0
}

.fromBottomIn {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1
}

.fromBottomOut, .fromLeftIn {
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease, -moz-transform 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease, -o-transform 1s ease
}

.fromBottomOut {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
    opacity: 0
}

.fromLeftIn {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1
}

.fromLeftOut, .fromRightIn {
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease, -moz-transform 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease, -o-transform 1s ease
}

.fromLeftOut {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
    opacity: 0
}

.fromRightIn {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1
}

.fromRightOut, .scaleUpIn {
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease, -moz-transform 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease, -o-transform 1s ease
}

.fromRightOut {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0);
    opacity: 0
}

.scaleUpIn {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1
}

.scaleDownIn, .scaleUpOut {
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease, -moz-transform 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease, -o-transform 1s ease
}

.scaleUpOut {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: scale(1.3, 1.3);
    -moz-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    -o-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
    opacity: 0
}

.scaleDownIn {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1
}

.scaleDownOut {
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease, -moz-transform 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease, -o-transform 1s ease;
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: scale(.7, .7);
    -moz-transform: scale(.7, .7);
    -ms-transform: scale(.7, .7);
    -o-transform: scale(.7, .7);
    transform: scale(.7, .7);
    opacity: 0
}