html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.footer {
    display: none;
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/*========================================================================*/
.display-inline {
    display: inline-block;
}
.contact-icons > div {
    background-size: cover;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}
.icon-phone {
    background-image: url("../image/phone-icon.png");
}
.icon-viber {
    background-image: url("../image/viber-icon.png");
}
.icon-whatsapp {
    background-image: url("../image/whtsup-icon.png");
}
.blue-gradient-bg {
    background: rgb(91, 164, 227);
    background: linear-gradient(225deg, rgba(91, 164, 227, 1) 0%, rgba(37, 99, 154, 1) 54%);
}

.header {
    font-weight: bold;
    padding: 15px 0;
}

.text-red {
    color: #da0613;
}

.text-blue {
    color: #386486;
}

.header-title {
    font-size: 36px;
    text-transform: uppercase;
}

.main-slider-wrap {
    position: relative;
}

.main-slider-wrap .slick-initialized.slick-slider div,
.second-slider-wrap .slick-initialized.slick-slider div
{
    height: 100%;
}

.main-slider-wrap .slick-initialized.slick-slider {
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
}

.main-slider-wrap .slick-initialized.slick-slider .slide-item
{
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.second-slider-wrap {
    height: 200px;
}
.second-slider-wrap .slick-initialized.slick-slider {
    height: 100%;
}

.form-control {
    border-radius: 0px;
}

.contact-form-wrap .help-block.help-block-error {
    color: #ff5722;
}

.contact-form-wrap {
    border: 2px solid white;
    padding: 15px;
    margin: 10px 0 20px;
}

.contact-form-wrap .contact-form-label {
    text-decoration: underline;
    color: white;
    font-weight: bold;
}

.btn-contact-wrap {
    margin-bottom: -32px;
}

.btn-contact {
    background-color: #ea0d14;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid;
    padding: 6px 30px;
}

.block-title {
    font-size: 20px;
    margin: 15px;
    font-weight: bold;
}

.propose-items {
    display: inline-block;
}

.propose-item {
    margin: 20px 0;
}

.propose-item .propose-text {
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}

.propose-item .propose-icon {
    background-image: url('../image/blue-point-icont.png');
    width: 35px;
    height: 35px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.propose-items .propose-item:nth-child(2n+3) .propose-icon,
.propose-items .propose-item:first-child .propose-icon {
    background-image: url('../image/red-point-icon.png');
}

.our-advantages {
    background-color: #ebebeb;
    padding: 20px;
}

.our-advantages .advantage-text {
    padding: 15px;
}

.contacts-block {
    margin: 40px 0 20px;
}

.contact-block1 {
    padding: 75px 0;
}

.contacts-block [class^='contact'] {
    line-height: 35px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.contacts-block .contact1 {
    font-size: 22px;
}

.card-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.languages {
    display: inline-block;
    background-color: #ea0d14;
    color: white;
    font-size: 20px;
    padding: 8px 15px;
}

.contact-form-block {
    margin: 20px 0;
}

.contact-form-wrap2 {
    border: 2px solid #386486;
    padding: 15px;
    margin-bottom: 20px;
}

.contact-image {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    min-height: 430px;
}

.m3 {
    margin: 15px;
}

.slide-preview {
    height: 100px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.slide-preview .delete-slide {
    background-size: cover;
    background-position: center;
    background-image: url(../image/close.png);
    width: 15px;
    height: 15px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.slide-preview .delete-slide > input {
    visibility: hidden;
}